# [기초-종합] 수 나열하기1

## 입력 / 출력

```
입력  
시작 값(a), 등차의 값(d), 몇 번째 수 인지를 의미하는 정수(n)가
공백을 두고 입력된다.(모두 0 ~ 100)
```
 
```
출력  
n번째 수를 출력한다.
```

In [5]:
aStr, dStr, nStr = input().split()
a = int(aStr)
d = int(dStr)
n = int(nStr)

for i in range(0, n - 1):
    a += d

print(a)

1 3 5
13